<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="" defer type="module"></script>
    <title>Dashboard</title>
</head>
<body>
    <section class="v_banner">
        <div class="c1">
            <img src="/storage/img/Line 1.png" alt="">
            <h1>CRUD OPERATIONS</h1>
        </div>

        <div class="c2">
            <div class="profile">
                <img src="/storage/img/pexels-photo-2379004 1.png" alt="">
            </div>
            <h2>Karthi Madesh</h2>
            <p>Admin</p>

        <div class="c3">
            <button class="button b1"><img src="../storage/img/caret-circle-down 1.png" alt="">Home</button>
            <button class="button b2"><img src="../storage/img/Vector.png" alt="">Course</button>
            <button class="button b3"><img src="../storage/img/graduation-cap 1.png" alt="">Students</button>
            <button class="button b4"><img src="../storage/img/usd-square 1.png" alt="">Payments</button>
            <button class="button b5"><img src="../storage/img/file-chart-line 1.png" alt="">Report</button>
            <button class="button b6"><img src="../storage/img/sliders-v-square 1.png" alt="">Settings</button>
        </div>
        <div class="c4">
            <a href="">
            Logout
            <img src="../storage/img/sign-out-alt 1.png" alt="">
        </a>
            
        </div>
    </section>

    <section class="h_banner">
        <img src="" alt="">
        <input type="text">
        <img src="" alt="">
    </section>
    <section class="content">

    </section>
</body>
</html>